@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --background: #050801;
  --header: #252c465b;
  --header-text: #e5e7eb;
  --border: #333;
  --screen: #a91079;
  --calculator: #aaa;
  --calcfont: "Raleway", sans-serif;
  --btn: #eee;
  --btn-hover: #ddd;
  --btn-active: #ccc;
  --btn-red: #faa;
  --btn-red-hover: #e99;
  --btn-red-active: #d88;
  --btn-blue: #aaf;
  --btn-blue-hover: #99e;
  --btn-blue-active: #88d;
}

body {
  background-color: var(--background);
}
.title {
  font-family: "Pacifico";
  color: white;
  animation: neon 5s infinite;
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
}

@keyframes neon {
  0%,
  39%,
  41%,
  59%,
  61%,
  100% {
    text-shadow: white 0 0 12px, #ff3aad 0 0 24px, #ff3aad 0 0 36px;
  }

  40%,
  60%,
  75% {
    text-shadow: none; /* this is just to make it flicker */
  }
}
.Headercontainer {
  width: 100%;
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  animation: neon 5s infinite;
  z-index: 9;
}
.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 16em;
}
.logoContainer {
  margin: 0.7em 0 0.7em 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 8.8em;
  text-decoration: none;
}
.logoImageContainer {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}
.logoImage {
  width: 2em;
}
.logoText {
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em;

  margin: 0 0 0 0.5vw;
}
.headerTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  position: relative;
  color: var(--header-text);
  size: 18px;
  width: 27em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5vw;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
a:visited {
  color: #e5e7eb;
}
a:link {
  color: #e5e7eb;
}
a:hover {
  color: #b8b9bb;
}
a:active {
  color: #818181;
}

.flex-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  flex-basis: 100%;
  flex: 1 1 0%;
}
.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 500px;
  height: 600px;
  font-family: var(--calcfont);
  font-weight: bold;
  justify-content: space-evenly;
  background: var(--calculator);
  border: 3px solid white;
  border-radius: 20px;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f, 0 0 40px #0ff,
      0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.result-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.screen {
  margin-top: 10px;
  width: 90%;
  height: 10%;
  background-color: var(--screen);
  line-height: 70px;
  text-align: center;
}
.inputs {
  flex: 2;
  width: 100%;
  padding-left: 22px;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}
.module {
  flex: 0 0 23%; /* don't grow, don't shrink, width */
  height: 100px;
  margin-bottom: 5px;
}
.neon {
  position: relative;
  display: inline-block;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
button {
  background-color: #f806cc;
}
button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.operator {
  filter: hue-rotate(110deg);
}
.number {
  filter: hue-rotate(270deg);
}
.neon span {
  position: absolute;
  display: block;
}
.neon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.neon span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.neon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
